@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(199, 222, 241);
    display: flex;
    justify-content: center;
    
}

.camera{
    max-width: 500px;
}

#camera{
    width: 100%;
}

#canvas-container{

}

#photo-canvas{
    width: 100%;
}